<!--
  Generated template for the Questionnaire page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Questionnaire</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3> {{counter + 1}} / {{length}}</h3>
  <h2>{{actualQuestion.description}}</h2>
  <br />
  <ion-list [(ngModel)]="form" radio-group>
    <ion-item *ngFor="let scaleElement of scale; let i = index;">
      <ion-label>{{scaleElement.display}}</ion-label>
      <ion-radio value="{{scaleElement.value}}"></ion-radio>
    </ion-item>
  </ion-list>

  <div class="center">
    <button [disabled]="!form" (click)="sendQuestion()" ion-button round>Send</button>
  </div>
  <!--

   // tests of likert scale

<form>

  <div *ngFor="let question of questions; let i = index;">
    {{question.description}}
     <ul class='likert'>
        <li *ngFor="let scaleElement of scale; let j = index;">
          <input type="radio" name="{{question.id}}" value="scaleElement.value">
          <label>{{scaleElement.display}}</label>
        </li>
      </ul>
  </div>



  </form>



         <form>

    <item *ngFor="let question of questions; let i = index;">
      {{question.description}}
      <ul class='likert'>
        <li *ngFor="let scaleElement of scale; let j = index;">
          <input type="radio" name="1" value="scaleElement.value">
          <label>{{scaleElement.display}}</label>
        </li>
      </ul>
    </item>
    <form>
          <ion-item *ngFor="let question of questions; let i = index;">
        {{question.description}}

        <ion-list radio-group [(ngModel)]="relationship">
          <ion-item *ngFor="let scaleElement of scale; let j = index;">
            <ion-label>{{scaleElement.display}}</ion-label>
            <ion-radio value="scaleElement.value"></ion-radio>
          </ion-item>
        </ion-list>

         <div *ngFor="let scaleElement of scale">
        <label>
        <input type="radio" name="question.id" [(ngModel)]="answer.scaleElement"
        [value]="scaleElement.value">
        {{scale.display}}
        </label>
      </div>

      </ion-item>

    <button ion-button (click)="dismiss()">close</button>--->
</ion-content>
