page-training-page {
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .verticalCenter {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
