page-initial-questionnaire {
  .center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .text-input{
    text-align: end;
  }
  .select-ios{
    padding-right: 4rem;
  }
}
