knowledge-detail {

.sectionName{
    margin-top: 20px;
    font-family: sans-serif;
}

hr{
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
}


.line{
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
}

.space{
  margin-top: 20px;
}


}
