page-profile-page {

.sectionName{
    margin-top: 20px;
    font-family: sans-serif;
}

.line{
    height: 1px;
    border-width: 0;
    box-sizing: content-box;
}

.center{
  text-align: center;
}

.score{
   font-size: 20px; 
}

}
