page-signup {
  form {
    margin-bottom: 32px;
    .tj-submitbtn {
      margin-top: 50px;
    }
  }

  p {
    font-size: 0.8em;

  }

  ion-label {
    margin-left: 5px;
  }

  ion-input {
    padding: 5px;
  }

  .invalid {
    border-bottom: 1px solid #FF6153;
  }

  .error-message .item-inner {
    border-bottom: 0 !important;
  }

}
